* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', serif;
}
:root {
  --font-family: 'Inter', sans-serif;
  --second-family: 'Poppins', sans-serif;
  --third-family: 'Italianno', sans-serif;
  --font3: 'Poor Richard', sans-serif;
}
a {
  text-decoration: none;
}
ul,
li {
  list-style: none;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
/* *========================comen css end==================  */

/* *========================Headig Stert==================  */
body {
  background-color: #ffffff;
}
nav {
  background: #531b0a;
  width: 100%;
  border-bottom: 1px solid #ebd7c3;
}
nav .row {
  width: 1440px;
  height: 100px;
  background: #531b0a;
  margin: auto;
  justify-content: space-between;
  align-items: center;
}
.row .logo h2 {
  font-family: var(--third-family);
  font-weight: 400;
  font-size: 1.35rem;
  line-height: 120%;
  color: #fff;
}
nav .meno {
  display: flex;
}
nav .meno li a {
  margin: 24px;
  font-weight: 400;
  font-size: 1rem;
  line-height: 120%;
  color: #fff;
}
.row .Quick-icoo i {
  color: #fff;
  margin: 0 0.84375rem;
}
/** =====================Header end=====================  */
/** =====================Baner Sterd=================  */
.conainer {
  width: 1440px;
  margin: auto;
}
.conainer .baner {
  background-image: url(../images/baner.jpg);
  width: 1440px;
  height: 767px;
  display: flex;
  align-items: center;
}
.baner .baner-text {
  width: 533px;
  height: 378px;
  margin-left: 70px;
}
.baner-text h1 {
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 65px;
  line-height: 120%;
  color: #fff;
}
.baner-text p {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: #fff;
  margin: 22px 0 47px;
}
.baner-text a {
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;
  color: #323232;
  padding: 18px 45px;
  background-color: #fff;
  border-radius: 5px;
  transition: 0.3s;
}
.baner-text a:hover {
  background: #d7964c;
  color: #fff;
}
/** ===================Baner end=================  */

/* *===================Order details Start======  */
form .conainer {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 0 5px 5px;
  width: 957px;
  height: 115px;
  background: #531b0a;
}

select {
  border-radius: 5px;
  width: 212px;
  height: 42px;
  appearance: none;
  background: #fff;
  padding: 12px 32px;
  margin-right: 7px;
  outline: none;
}

.quantity input {
  border-radius: 5px;
  width: 168px;
  height: 42px;
  border: 0;
  outline: none;
  margin-right: 7px;
  padding: 11px 24px;
}
.email input {
  border-radius: 5px;
  width: 254px;
  height: 42px;
  background: #fff;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #7f7f7f;
  padding: 12px 17px;
  outline: none;
  margin-right: 7px;
  border: 0;
}
.btn button {
  background: #d7964c;
  border-radius: 5px;
  width: 149px;
  height: 42px;
  border: 0;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #fff;
}
/* *==================Order details end ========= */

/* *=================our cofee Special Sterd============ */
.about-area {
  margin-bottom: 47px;
}
.about-area h2 {
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 40px;
  line-height: 120%;
  color: #531b0a;
  text-align: center;
  margin: 43px 0 32px;
}
.our-cofee {
  display: flex;
  margin: auto;
  width: 1300px;
  height: 463px;
}
.images img {
  width: 650px;
  height: 463px;
}
.right-side {
  background: #dad1c1;
  padding: 123px 91px 123px 77px;
  width: 650px;
  height: 463px;
}
.right-side h4 {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 30px;
  line-height: 120%;
  color: #531b0a;
}
.right-side p {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  color: #353535;
  margin: 22px 0;
}
.right-side a {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  color: #353535;
  padding: 16px 27px;
  background-color: #fff;
  display: inline-block;
  border-radius: 5px;
}
/* *=================our cofee Special End============ */
/* *==================Square Paris CSS Sterd============== */

.featured h2 {
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 40px;
  line-height: 120%;
  color: #531b0a;
  text-align: center;
  margin-bottom: 33px;
}

.f-conainer {
  width: 1449px;
  height: 665px;
  background: #e1e1e1;
  padding: 34px 0;
}

html,
body {
  position: relative;
  height: 100%;
}


.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  width: 450px !important;
}
.swiper-slide img {
  display: block;
  width: 450px;
  height: 400px;
  object-fit: cover;
}
.swiper-slide a {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  color: #4b4b4b;
  margin: 13px 0;
}
.swiper-slide a:hover {
  color: #531b0a;
  text-decoration: underline;
}
.swiper-slide span {
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  color: #4b4b4b;
  margin-bottom: 12px;
}
.swiper-slide .ster i {
  font-size: 16px;
  color: #531b0a;
}

/* button start */
.swiper-button-next::after,
.swiper-button-prev::after{
  content: '';
}
.swiper-button-next,
.swiper-button-prev{
  background-color: #531b0a;
  border: 0.0625rem solid var(--border-color);
  width: 1.875rem;
  height: 1.875rem;
  border-radius: 0.3125rem;
  color: #fff;
  font-size: 0.9375rem;
}

.swiper-button-prev{
  left: initial;
  right: 2.5rem;
}

.swiper-button-next{
  right: 0.5rem;
}
.swiper-button-prev{
    left: 0.5rem;
}
/* button end */
/* *===============Square Paris CSS End =============*/
/* *================Our products sterd============== */
.our-products h2 {
  margin: 63px 0 30px 0;
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 40px;
  line-height: 120%;
  color: #531b0a;
  text-align: center;
}
.product-bxo {
  width: 1370px;
  height: 1242px;
  background: #e1e1e1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 40px;
  margin: auto;
}
.product-bxo .p-card {
  width: 412px;
  height: 568px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
  background: #fff;
  margin: 9px 9px;
}
.p-card a {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  color: #4b4b4b;
  display: block;
  text-align: center;
  margin: 13px 0;
}
.p-card a:hover {
  color: #531b0a;
  text-decoration: underline;
}
.p-card span {
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  color: #4b4b4b;
  display: block;
  margin-bottom: 20px;
  text-align: center;
}
.p-card .p-btn {
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  color: #fff;
  background: #d7964c;
  display: inline-block;
  padding: 15px 43px;
  margin-left: 103px;
  border-radius: 5px;
  border: 1px solid #d7964c;
  transition: 0.3s;
}
.p-card .p-btn:hover {
  background: transparent;
  color: #d7964c;
}
/* *================Our products end============== */
/* *================From The Blog sterd========== */
.blog-area {
  width: 1400px;
  margin: auto;
}
.blog-p {
  width: 1006px;
  height: 137px;
  margin: auto;
  text-align: center;
}
.blog-p h2 {
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 40px;
  line-height: 120%;
  color: #531b0a;
  text-align: center;
  margin: 60px 0 18px;
}
.blog-p p {
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;
  text-align: center;
  color: #797979;
  margin-bottom: 43px;
}
.blog-card {
  margin-top: 43px;
  display: flex;
  justify-content: space-evenly;
}
.blog-card .b-card {
  width: 409px;
  height: 513px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
  background: #fff;
  margin-bottom: 71px;
  border-radius: 5px;
}
.blog-card .b-card h4 {
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  color: #4b4b4b;
  text-align: center;
  margin: 12px 0;
}
.blog-card .b-card p {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  text-align: center;
  color: #565656;
  padding: 0 70px 0 40px;
}
.blog-2 {
  width: 1440px;
  height: 663px;
  background: url(../images/blog-bg.png);
  display: flex;
  align-items: center;
  justify-content: center;
}
.b-text-box {
  width: 1193px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.b-text-box img {
  width: 169px;
}
.b-text-box p {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color: #f5f5f5;
  margin: 32px 0 55px;
}
.b-text-box a {
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 25px;
  text-align: center;
  color: #363636;
  padding: 20px 48px;
  background: #fff;
  border-radius: 5px;
}
/* *================From The Blog end========== */
/**=============Registration form sterd========  */
.Registration h2 {
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 40px;
  line-height: 120%;
  color: #531b0a;
  margin: 82px 0 40px;
  text-align: center;
}
.Registration .r-form {
  border-radius: 2px;
  width: 1300px;
  height: 611px;
  margin: auto;
  background-size: cover;
  background-image: url(../images/form-bg-img.png);
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.r-form form {
  background-image: url(../images/form-img.png);
  border-radius: 10px;
  width: 478px;
  height: 564px;
  margin-right: 171px;
  padding: 0 48px;
}
.r-form form h2 {
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 25px;
  line-height: 120%;
  color: #fff;
  margin: 47px 24px;
}
.input-1 input {
  width: 100%;
  height: 50px;
  background: #fff;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  color: #8b8b8b;
  padding: 14px 27px;
  border-radius: 10px;
  border: 0;
  outline: none;
  margin-bottom: 28px;
}
.f-btn-1 button,
.f-btn-2 button {
  width: 100%;
  height: 50px;
  margin: 28px 0;
  padding: 14px 27px;
  border-radius: 10px;
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 18px;
  line-height: 120%;
  cursor: pointer;
  transition: 0.3s;
}
.f-btn-1 button {
  background: #8b7a6a;
  color: #fff;
  border: 0;
}
.f-btn-1 button:hover {
  background: #fff;
  color: #515151;
}
.f-btn-2 button {
  color: #515151;
  border: 0;
}
.f-btn-2 button:hover {
  background: #8b7a6a;
  color: #fff;
}
/**=============Registration form end========  */
footer {
  width: 1440px;
  height: 867px;
  margin: auto;
}
.main-footer {
  display: flex;
  width: 1440px;
  height: 465px;
  margin: auto;
  justify-content: space-between;
  padding: 76px 80px;
  margin-top: 90px;
  border-bottom: 1px solid #989898;
}
.main-footer h3 {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 25px;
  color: #242424;
}
.main-footer ul li {
  margin: 22px 0;
}
.main-footer ul li a {
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  color: #565656;
  transition: 0.2s;
}
.main-footer ul li a:hover {
  color: #531b0a;
  text-decoration: underline;
}
.Second-footer {
  padding: 62px 0 0 81px;
}
.f-icons {
  margin-bottom: 25px;
}
.f-icons a {
  color: #000;
}
.f-icons i {
  font-size: 20px;
  margin-right: 20px;
}
.Second-footer ul li {
  margin-bottom: 19px;
}
.Second-footer ul li a {
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  color: #565656;
  transition: 0.2s;
}
.Second-footer ul li a:hover {
  color: #531b0a;
  text-decoration: underline;
}
